rom
tools/**/__pycache__/**
**/*.lock
**/*.lha
**/*.zip
**/.D*
**/*.log
**/*.sys
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/*.h86
**/*.sym
**/*.lst
**/*.map
**/.vscode
private/**
**/work.img
disks.tar.gz
cpm*.img
base*-at.img
**/cpm*.cmd
commands/**/*.mp?
commands/**/*.hlp
commands/**/*.loc
commands/**/*.abs
commands/**/*.lnk
commands/**/*.cmd
commands/**/*.mod
commands/**/*.prn
commands/dskmaint/*.bin
commands/dskmaint/*.inc
commands/asm80/*.hex
commands/asm80/*.com
extra/*.bin
extra/*.obj
extra/*.com
extra/*.tmp
extra/*.cmd
