rom
**/*.lock
**/*.lha
**/*.zip
**/.D*
**/*.log
**/*.sys
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/*.h86
**/*.sym
**/*.lst
**/*.map
**/.vscode
private/**
**/work.img
**/cpm*.img
**/cpm*.cmd
commands/**/*.mp?
commands/**/*.loc
commands/**/*.abs
commands/**/*.lnk
commands/**/*.cmd
commands/**/*.mod
commands/**/*.prn
extra/*.bin
extra/*.obj
extra/*.com
extra/*.tmp
extra/*.cmd
